@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "node_modules/bootstrap/scss/mixins/_transition";

:host {
    font-size: 16px;
    @include media-breakpoint-up(md) {
        background-color: #fdfaf3;
        // background-image: url(images/vintage-wallpaper-mask.png);

        a.nav-link {
            @include transition(all 0.1s ease-in);
            color: #472425;

            &:hover {
                background-color: #472425;
                color: #fdfaf3 !important;
                opacity: 0.9;
            }
        }
    }
}

.navbar-brand {
    img {
        max-width: 1.5em;
        max-height: 1.5em;
    }
}


