:host {
    background-color: #555555;
    bottom: 0;
    color: #eeeeee;
    font-size: 80%;
    font-weight: bold;
    padding: 0.25em;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 5000;

    .btn-cookie {
        color: #bababa;
        background-color: #2f2f2f;
        border-radius: 4px;
        border: none!important;
    }
}
